.jumbotron {
    background-image: url(../images/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    background-image: url(../images/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
#jumboTitle {
    color:whitesmoke
}
#title {
    color:whitesmoke    
}
p {
    color:whitesmoke
}
.searchTerm {
    margin: 10px;
    background-color: lightgreen
}
.col-md-3 {
    margin-top: 50px;
}
img {
    width: 100%;
    height: 100%
}